.recipeCard {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-family: Ploysans, sans-serif;
}

.recipeName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recipeImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.recipeDetails {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeInstructions {
  padding: 0;
  border-radius: 8px;
  color: #666;
}

.recipeInstructions ol {
  margin-left: 0;
}

.recipeInstructions li {
  margin: 10px 0;
}
